---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: onepassword-store
spec:
  interval: 1h
  path: ./kubernetes/apps/external-secrets/onepassword-store/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: external-secrets
  wait: false
  dependsOn:
    - name: external-secrets
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
