---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases
components:
  - ../../components/sops
resources:
  - ./namespace.yaml
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly-operator/ks.yaml
  - ./redpanda-operator/ks.yaml
  - ./scylla-operator/ks.yaml
  - ./scylla-manager/ks.yaml
  - ./tidb-operator/ks.yaml
