---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./external-secrets/ks.yaml
  - ./onepassword-store/ks.yaml
