---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: dragonfly-operator
spec:
  interval: 15m
  url: https://github.com/dragonflydb/dragonfly-operator
  ref:
    tag: v1.4.0
  ignore: |
    /*
    !/charts/
