---
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly-playground
spec:
  replicas: 1
  image: docker.dragonflydb.io/dragonflydb/dragonfly:v1.36.0

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

  args:
    - --maxmemory=256mb
    - --proactor_threads=1
