---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 1h
  values:
    installCRDs: true
    serviceMonitor:
      enabled: true
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 64Mi
    webhook:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 32Mi
    certController:
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 10m
          memory: 32Mi
